
@media only screen and (max-width: 1463px) {
	.hero-text-box {
		font-size: 80%;
		margin-left: 30px;
		margin-right: 30px;
	}

	.project-photo h5 {
		font-size: 70%;
	}

	nav .row .logo {
		margin-top: 10px; 
	}

	.main-nav {
		margin-top: 10px;
	}

}

/*Full devices - 1023px to 1200px*/
@media only screen and (max-width: 1200px) {
	.sticky {
		padding-top: 0;
		margin-top: 0;
	}

	.hero-text-box {
		position: absolute;
		width: 100%;
		padding: 0 2%;
		font-size: 65%;
	}


	.hero-text-box h1 {
		width: 100%;
	}

	.row {
		padding: 0 2%;
	}

	.logo {
		margin-top: 20px;
	}

	.hero-text-box h1 {
		padding-left: 70px;
		padding-right: 50px;
	}

	.hero-text-box .btn-full{
		margin-left: 80px;
	}

	.nav-list {
		margin-left: 30px;
	}

}

/*Large devices - 767px to 1023px*/
@media only screen and (max-width: 1023px) {
	body {
		font-size: 18px;
	}

	header {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/smallhero.jpeg);
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/smallhero.jpeg);
		background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/smallhero.jpeg);
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/smallhero.jpeg);

	}

	.hero-text-box {
		font-size: 60%;
	}

	section {
		padding: 60px 0;
	}

	section .section-title {
		margin-top: 50px;
	}

	section .project-copy {
		margin-top: 50px;
	}

	section .mobile-app {
		padding-top: 50px;
	}

	.city-section h2 {
		padding-top: 50px;
	}

	.commission-section {
		margin-bottom: 50px;
	}

	.commission-section .col {
		width: 100%;
	}

	.plans-section {
		padding-bottom: 80px;
	}

	.plans-section h2 {
		padding-top: 50px;
	}

	.form-section {
		padding-top: 50px;
	}

	.map {
		margin-top: 245px;
	}

	.form-container {
		margin-top: 300px;
	}
}

/*Medium devices - 480px to 767px*/
@media only screen and (max-width: 767px) {
	body {
		font-size: 15px;
	}

	.hero-text-box {
		margin-left: 5px;
		padding-left: 0;
	 	margin-right: 20px;
	 	font-size: 70%;
	}

	.hero-text-box h1 {
		padding-left: 40px;
		padding-right: 30px;
	}

	/*.hero-text-box h1 {
		font-size: 250%;
		padding-left: 12px;
	}

	.hero-text-box .btn{
		margin-left: 12px;
	}*/

	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}

	.logo {
		margin-top: 2px;
	}

	.main-nav {
		display: none;
	}

	.mobile-nav-icon {
		display: inline-block;
	}

	.sticky i {
		color: #555;
	}

	.main-nav {
		float: left;
		margin: 10px 0;
	}

	.main-nav li {
		display: block;
	}

	
	.main-nav li a:link,
	.main-nav li a:link {
		display: block;
		border: 0;
	}

	.team-section p {
		margin-left: 20px;
	}

	.team-section .long-copy {
		margin-left: 100px;
	}

	.team-section img {
		margin-bottom: 10px;
		margin-left: 70px;
	}

	.city-section {
		padding-bottom: 15px;
	}

	.project-section {
		padding-top: 0;
	}

	.project-copy {
		width: 80%;
		margin: 20px auto;
	}

	section .section-title {
		margin-top: 20px;
	}

	.city-container h3 {
		margin-left: 10px;
	}

	.col blockquote {
		margin-bottom: 20px;
	}

	.form-section {
		padding-bottom: 30px;
	}

	.form-section hr {
		margin-bottom: 30px;
	}

	.map {
		width: 100%;
		position: relative;
		margin-top: 0;
	}

	.form-container {
		width: 100%;
		position: relative;
		margin-top: 20px;
	}

	.invisible-button {
		position: absolute;
	}

	footer .col {
		width: 50%;
	}
}


/*Small devices - 0 to 480px*/
@media only screen and (max-width: 480px) {
	.hero-text-box {
		font-size: 60%;
	}


	.hero-text-box .btn {
		font-size: 7px;
	}

	.hero-text-box .btn-full {
		margin-left: 30px;
	}

	.team-section .long-copy {
		margin-left: 60px;
	}

	.row .steps-box {
		margin-left: 0;
	}

	.project-photo h5 {
		font-size: 50%;
	}

	.plans-section hr {
		margin-bottom: 30px;
	}

	.footer-nav li {
		margin-right: 3px;
	}
}

